

/* ==========================================================================
   cr_web custom styles
   ========================================================================== */

span.input-group-addon {
	max-height: 1em;
	line-height: 1em;
}


.form-group > label{
	margin-left:-20px;
}

#receipt {
	word-wrap: break-word;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}


#rhidden {
	display: none;
}

.receipt span {
	font-style: italic;
}

.rindent {
	margin-left:20px;
}

